<%= form_for @card do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :lyrics, "Lyric Excerpt" %>
  <%= f.text_area :lyrics, size: "60x12" %>

  <fieldset>
    <legend>Select Title Font</legend>

    <div class="font_select_container">
      <%= f.radio_button :font_selection, "normal" %>
      <%= label :card_font_selection, "normal", class: "font_normal" %>
    </div>

    <div class="font_select_container">
      <%= f.radio_button :font_selection, "bold" %>
      <%= label :card_font_selection, "bold", class: "font_bold" %>
    </div>

    <div class="font_select_container">
      <%= f.radio_button :font_selection, "print" %>
      <%= label :card_font_selection, "print", class: "font_print" %>
    </div>

    <div class="font_select_container">
      <%= f.radio_button :font_selection, "cursive" %>
      <%= label :card_font_selection, "cursive", class: "font_cursive" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Select Icon</legend>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "heart" %>
      <%= label_tag "card_icon_selection_heart" do %>
        <%= image_tag "heart.svg", alt: "heart icon" %>
      <% end %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "star" %>
      <%= label_tag "card_icon_selection_star" do %>
        <%= image_tag "star.svg", alt: "star icon" %>
      <% end %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "music" %>
      <%= label_tag "card_icon_selection_music" do %>
        <%= image_tag "music.svg", alt: "music icon" %>
      <% end %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "disk" %>
      <%= label_tag "card_icon_selection_disk" do %>
        <%= image_tag "disk.svg", alt: "disk icon" %>
      <% end %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "headphones" %>
      <%= label_tag "card_icon_selection_headphones" do %>
        <%= image_tag "headphones.svg", alt: "headphones icon" %>
      <% end %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "bolt" %>
      <%= label_tag "card_icon_selection_bolt" do %>
        <%= image_tag "bolt.svg", alt: "bolt icon" %>
      <% end %>
    </div>

  </fieldset>

  <fieldset>
    <legend>Select Color</legend>

    <div class="color_select_container">
      <%= f.radio_button :color_selection, "grey" %>
      <%= label_tag "card_color_selection_grey" do %>
        <div class="grey_color color_pick"></div>
      <% end %>
    </div>

    <div class="color_select_container">
      <%= f.radio_button :color_selection, "red" %>
      <%= label_tag "card_color_selection_red" do %>
        <div class="red_color color_pick"></div>
      <% end %>
    </div>

    <div class="color_select_container">
      <%= f.radio_button :color_selection, "orange" %>
      <%= label_tag "card_color_selection_orange" do %>
        <div class="orange_color color_pick"></div>
      <% end %>
    </div>

    <div class="color_select_container">
      <%= f.radio_button :color_selection, "blue" %>
      <%= label_tag "card_color_selection_blue" do %>
        <div class="blue_color color_pick"></div>
      <% end %>
    </div>

    <div class="color_select_container">
      <%= f.radio_button :color_selection, "green" %>
      <%= label_tag "card_color_selection_green" do %>
        <div class="green_color color_pick"></div>
      <% end %>
    </div>

    <div class="color_select_container">
      <%= f.radio_button :color_selection, "purple" %>
      <%= label_tag "card_color_selection_purple" do %>
        <div class="purple_color color_pick"></div>
      <% end %>
    </div>
  </fieldset>

  <%= f.submit "Submit Lyrick", class: "create_lyrick" %>
<% end %>
