<%= form_for @card do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :lyrics, "Lyric Excerpt" %>
  <%= f.text_area :lyrics, size: "60x12" %>

  <fieldset>
    <legend>Select Icon</legend>
    <div class="icon_select_container">
      <%= image_tag "heart.svg", alt: "heart icon" %>
      <%= f.radio_button :icon_selection, "heart" %>
      <%= label :icon_selection_heart, "Heart", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= image_tag "star.svg", alt: "star icon" %>
      <%= f.radio_button :icon_selection, "star" %>
      <%= label :icon_selection_star, "Star", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= image_tag "music.svg", alt: "music icon" %>
      <%= f.radio_button :icon_selection, "music" %>
      <%= label :icon_selection_music, "Music", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= image_tag "disk.svg", alt: "disk icon" %>
      <%= f.radio_button :icon_selection, "disk" %>
      <%= label :icon_selection_disk, "Disk", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= image_tag "headphones.svg", alt: "headphones icon" %>
      <%= f.radio_button :icon_selection, "headphones" %>
      <%= label :icon_selection_headphones, "Headphones", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= image_tag "bolt.svg", alt: "bolt icon" %>
      <%= f.radio_button :icon_selection, "bolt" %>
      <%= label :icon_selection_bolt, "Bolt", class: "icon_label" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Select Color</legend>
    <div class="color_select_container">
      <div class="grey_color color_pick"></div>
      <%= f.radio_button :color_selection, "grey" %>
      <%= label :color_selection_grey, "grey", class: "color_label" %>
    </div>

    <div class="color_select_container">
      <div class="red_color color_pick"></div>
      <%= f.radio_button :color_selection, "red" %>
      <%= label :color_selection_red, "Red", class: "color_label" %>
    </div>

    <div class="icon_select_container">
      <div class="orange_color color_pick"></div>
      <%= f.radio_button :color_selection, "orange" %>
      <%= label :color_selection_orange, "Orange", class: "color_label" %>
    </div>

    <div class="icon_select_container">
      <div class="blue_color color_pick"></div>
      <%= f.radio_button :color_selection, "blue" %>
      <%= label :color_selection_blue, "Blue", class: "color_label" %>
    </div>

    <div class="icon_select_container">
      <div class="green_color color_pick"></div>
      <%= f.radio_button :color_selection, "green" %>
      <%= label :color_selection_green, "Green", class: "color_label" %>
    </div>

    <div class="icon_select_container">
      <div class="purple_color color_pick"></div>
      <%= f.radio_button :color_selection, "purple" %>
      <%= label :color_selection_purple, "Purple", class: "icon_label" %>
    </div>
  </fieldset>

  <%= f.submit "Submit Lyrick", class: "create_lyrick" %>
<% end %>
