<%= form_for @card do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :lyrics, "Lyric Excerpt" %>
  <%= f.text_area :lyrics, size: "60x12" %>

  <fieldset>
    <legend>Select Title Font</legend>

    <div class="font_select_container">
      <%= f.radio_button :font_selection, "normal" %>
      <%= label :card_font_selection, "normal", class: "font_normal" %>
    </div>

    <div class="font_select_container">
      <%= f.radio_button :font_selection, "bold" %>
      <%= label :card_font_selection, "bold", class: "font_bold" %>
    </div>

    <div class="font_select_container">
      <%= f.radio_button :font_selection, "print" %>
      <%= label :card_font_selection, "print", class: "font_print" %>
    </div>

    <div class="font_select_container">
      <%= f.radio_button :font_selection, "cursive" %>
      <%= label :card_font_selection, "cursive", class: "font_cursive" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Select Icon</legend>

    <div class="icon_select_container">

      <%= f.radio_button :icon_selection, "heart" %>
      <%= image_tag "heart.svg", alt: "heart icon" %>
      <%= label :card_icon_selection, "heart", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "star" %>
      <%= image_tag "star.svg", alt: "star icon" %>
      <%= label :card_icon_selection, "star", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "music" %>
      <%= image_tag "music.svg", alt: "music icon" %>
      <%= label :card_icon_selection, "music", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "disk" %>
      <%= image_tag "disk.svg", alt: "disk icon" %>
      <%= label :card_icon_selection, "disk", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "headphones" %>
      <%= image_tag "headphones.svg", alt: "headphones icon" %>
      <%= label :card_icon_selection, "headphones", class: "icon_label" %>
    </div>

    <div class="icon_select_container">
      <%= f.radio_button :icon_selection, "bolt" %>
      <%= image_tag "bolt.svg", alt: "bolt icon" %>
      <%= label :card_icon_selection, "bolt", class: "icon_label" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Select Color</legend>
    <div class="color_select_container">
      <div class="grey_color color_pick"></div>
      <%= f.radio_button :color_selection, "grey" %>
      <%= label :card_color_selection, "grey", class: "color_label" %>
    </div>

    <div class="color_select_container">
      <div class="red_color color_pick"></div>
      <%= f.radio_button :color_selection, "red" %>
      <%= label :card_color_selection, "red", class: "color_label" %>
    </div>

    <div class="icon_select_container">
      <div class="orange_color color_pick"></div>
      <%= f.radio_button :color_selection, "orange" %>
      <%= label :card_color_selection, "orange", class: "color_label" %>
    </div>

    <div class="icon_select_container">
      <div class="blue_color color_pick"></div>
      <%= f.radio_button :color_selection, "blue" %>
      <%= label :card_color_selection, "blue", class: "color_label" %>
    </div>

    <div class="icon_select_container">
      <div class="green_color color_pick"></div>
      <%= f.radio_button :color_selection, "green" %>
      <%= label :card_color_selection, "green", class: "color_label" %>
    </div>

    <div class="icon_select_container">
      <div class="purple_color color_pick"></div>
      <%= f.radio_button :color_selection, "purple" %>
      <%= label :card_color_selection, "purple", class: "icon_label" %>
    </div>
  </fieldset>

  <%= f.submit "Submit Lyrick", class: "create_lyrick" %>
<% end %>
