<h1 class="heading">My Lyricks</h1>

<div class="sub_nav">
  <%= link_to "Browse Lyricks", cards_browse_path, class: "lyrick_action" %>
</div>

<%= link_to new_card_path do %>
  <div class="card_preview">
    <div class="card_overlay_preview create_new">
    <h3>Create New Lyrick</h3>
    <%= image_tag "plus.svg", alt: "plus sign", class: "plus" %>
    </div>
  </div>
<% end %>


  <% @cards.each do |card| %>
    <%= link_to card_path(card) do %>
      <div class="card_preview">
        <div class="card_overlay_preview <%= card.color_selection %> font_<%= card.font_selection %>">
          <h3><%= card.title %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
