<div class="actions">
  <%= link_to "Browse Lyricks", cards_browse_path, class: "lyrick_action" %>
</div>

<h1 class="heading">My Lyricks</h1>

<div class="card_preview">
  <div class="card_overlay_preview create_new">
  <h3><%= link_to "Create New Lyrick", new_card_path %></h3>
  <%= image_tag "plus.svg", alt: "plus sign", class: "plus" %>
  </div>
</div>

  <% @cards.each do |card| %>
    <div class="card_preview">
      <div class="card_overlay_preview <%= card.color_selection %> font_<%= card.font_selection %>">
        <h3><%= link_to card.title, card_path(card) %></h3>
      </div>
    </div>
  <% end %>
