<div class="actions">
  <%= link_to "My Lyricks", cards_path, class: "lyrick_action" %>
  <%= link_to "Browse Lyricks", cards_browse_path, class: "lyrick_action" %>
  <% if current_user.id == @card.user_id %>
    <%= link_to "Edit", edit_card_path(@card), class: "lyrick_action" %>
    <%= link_to "Delete", card_path(@card), method: :delete, class: "delete lyrick_action" %>
  <% else %>
    <%= "Designed by: #{@card.user.username}" %>
  <% end %>
</div>

<div class="card_container">
  <div class="card_overlay <%= @card.color_selection %>">
    <h3 class="font_<%= @card.font_selection %>"><%= @card.title %></h3>
    <%= image_tag "#{@card.icon_selection}.svg", alt: "#{@card.icon_selection} icon" %>
    <p class=<%= @card.color_selection %>><%= @text_collection %></p>
  </div>
</div>
