<div class="actions">
  <%= link_to "My Lyricks", cards_path, class: "lyrick_action" %>
  <%= link_to "Browse Lyricks", cards_browse_path, class: "lyrick_action" %>
  <% if current_user.id == @card.user_id %>
    <%= link_to "Edit", edit_card_path(@card), class: "lyrick_action" %>
    <%= link_to "Delete", card_path(@card), method: :delete, class: "delete lyrick_action" %>
  <% else %>
    <div class="user_details">
      <p><%= "Lyrick by: #{@card.user.username}" %></p>
      <%= image_tag @card.user.profile_pic, alt: "#{@card.user.username} profile pic", class: "profile_pic" %>
    </div>
  <% end %>
</div>

<div class="card_container">
  <div class="card_overlay <%= @card.color_selection %>">
    <h3 class="font_<%= @card.font_selection %>"><%= @card.title %></h3>
    <%= image_tag "#{@card.icon_selection}.svg", alt: "#{@card.icon_selection} icon" %>
    <p class=<%= @card.color_selection %>><%= @text_collection %></p>
  </div>
</div>

<!-- Look into potentially adding a boolean to change classes to a smaller font for lyrik names that are lengthy -->

<% if current_user.id == @card.user_id %>
  <div class="tag_actions">
  <% @tags.each do |tag| %>
    <% if @card.tags.include? tag %>
      <%= link_to tag.title.titleize, "/cards/#{@card.id}/tag/#{tag.id}", method: :delete, class: "tagged" %>
    <% else %>
      <%= link_to tag.title.titleize, "/cards/#{@card.id}/tag/#{tag.id}", method: :post, class: "not-tagged" %>
    <% end %>
  <% end %>
  </div>
<% end %>
