<!DOCTYPE html>
<html>
<head>
  <title>Lyricks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="cf">
    <h1>Lyricks</h1>
    <ul>
      <!-- Devise User -->
      <% if current_user %>
        <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
    <!-- Flash Messages -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </nav>

<%= yield %>

</body>
</html>
