<!DOCTYPE html>
<html>
<head>
  <title>Lyricks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Flash Messages -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <!-- Devise User Actions -->
  <% if current_user %>
    <h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
  <% else %>
    <h3><%= link_to 'Signup', new_user_registration_path %></h3>
    <h3><%= link_to 'Login', new_user_session_path %></h3>
  <% end %>

<%= yield %>

</body>
</html>
